.form-container {
  width: 60%;
  display:flex;
  flex-direction: column;
  align-items: center;
  color: #171616;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #d9d8d8;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(10, 10, 10, 0.7);
    color: black;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .form-section {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: start;
  }
  
  h3 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  /* style for the form fields */
  .input-field-wrapper {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
  }

.input-field-container {
  flex: 1 1 200px;
  }
  
  /* Style for the form labels */
  label {
    width: 80%;
    font-weight: bold;
    color: #333;
    float: left;
  }
  
  /* Style for the form inputs */
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  input[type="date"]
  {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #666666;
  }

  textarea {
    font-family: inherit;
    padding: 0.5em;
    width: 80%; /* Adjust width to match the container */
    height: 80px; /* Approximate height for 5 rows */
    resize: vertical; /* Allow vertical resizing only */
    background-color: #666666;
  }