.projects {
  margin-bottom: 2rem;
}

.section-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.section-container {
  margin-bottom: 1.5rem;
}

.section-Project-Name {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 0.3em;
  width: 100%;
}

.section-Project-Description {
  margin-top: 0;
  margin-bottom: 0.8em;
  color: #444;
  font-size: 1rem;
}
