.resume-container{
    position: fixed;
    top: 0%;
    bottom: 0%;
    right: 0%;
    width: 50%;
    display: flex;
    flex: 1 1 0%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    /* justify-content: center; */
    flex-flow: column;
    background-color: rgb(101, 110, 131);
    color: rgb(255, 255, 255);
    user-select: none;
}

.page {
    background-color: aliceblue;
    width: 60%;
    aspect-ratio: 1/1.414;
    color: black;
    box-shadow: 2px 4px 9px 7px;
    font-size: 0.5em;
    /* A4 paper 1240 x 1754 in pixels */
}
.resume-container{

}
.resume-title{}

.res-head{
    height: min(10%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-info {
    display: flex;
    justify-content: center;
}
.person-info{}
.work-experience{}
.education{}
.projects {}