/* Creates a static box that holds the resume page */
.resume-container{
    position: fixed;
    top: 0%;
    bottom: 0%;
    right: 0%;
    width: 50%;
    height: 100%;
    display: flex;
    flex: 1 1 0%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    flex-flow: column;
    overflow: hidden;
    background-color: rgb(101, 110, 131);
    color: rgb(255, 255, 255);
}

.page {
    background-color: aliceblue;
    width: 60%;
    aspect-ratio: 1/1.414;
    color: black;
    box-shadow: 2px 4px 9px 7px;
    font-size: 0.5em;
    user-select: none;
    transform-origin: 0 0;
    transform: scale(1); /* Prevent scaling */
    /* A4 paper 1240 x 1754 in pixels */
}
.resume-container{

}
.resume-title{}

.res-head{
    height: min(10%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* contact section */
.contact-info {
    display: flex;
    justify-content: center;
}
.person-info{}

/* work experience section */
.work-experience{}

/* education section */
.education{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.section-title {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #333;
}

.section-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 1em;
    background-color: #f9f9f9;
}

div.section-container p{
    margin: 0;
}

div.section-container p:nth-child(even){
    display: flex;
    justify-content: end;
}

.section-School-Name{
    display: flex;
    flex-grow: 1;
    min-width: 80%;
    font-size: 1.3em;
    font-weight: bold;
    color: #333;
    border: none;
}
.section-School-Name::after {
        content: '';
        flex-grow: 1;
        border-bottom: 1px dashed #333;
        margin-left: .5em; /* Adjust the margin to add space */
        display: inline-block;
        transform: translateY(-.1em); /* Adjust the value to position the line vertically */
}

.section-Graduation-Year{
    font-size: 1.3em;
    padding-left: 0.5em;
    font-weight: bold;
    color: #333;
}



.section-Degree{
    min-width: 90%;
    flex-grow: 1;
}
.section-GPA{
    min-width: 10%;
} 

/* Projects section */
.projects {}