#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #d9d8d8;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: black;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

form > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: start;
  /* text-align: center; */
}

h3 {
  width: 100%;
  display: flex;
  justify-content: center;
}

form>div>div {
  width: 100%;
  text-align: left;
}

/* Style for the form labels */
label {
  width: 150px;
  font-weight: bold;
  color: #333;
  float: left;
}

/* Style for the form inputs */
input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}
